.heading{
    color: red;
    margin-left: 50px;
}
.pick{
    color:black;
    margin-left: 50px;
}
.Gym-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activities-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:45px;
    margin-top: 20px;
    margin-bottom:  50px ;
    margin-left: 40px;
    margin-right: 40px;
}

.list-container{
    background-color: gainsboro;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width:667px) {
    .activities-container{
        grid-template-columns: repeat(1,1fr);
    }
    .Gym-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:668px)  and (max-width:1200px)  {
    .activities-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:1201px) {
    .activities-container{
        grid-template-columns: repeat(3,1fr);
    }
}